<section class="bg-black text-white py-16 px-8 font-montserrat">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold mb-12">What I work with</h2>

    <div class="tech-slider-container">
      <div class="tech-slider">
        <ng-container *ngFor="let tech of technologies">
          <div class="tech-item flex flex-col items-center mx-6 min-w-max">
            <div class="tech-icon bg-gray-800 rounded-full p-4 mb-2">
              <i [class]="tech.icon + ' text-2xl'"></i>
            </div>
            <span class="text-sm">{{ tech.name }}</span>
          </div>
        </ng-container>

        <ng-container *ngFor="let tech of technologies">
          <div class="tech-item flex flex-col items-center mx-6 min-w-max">
            <div class="tech-icon bg-gray-800 rounded-full p-4 mb-2">
              <i [class]="tech.icon + ' text-2xl'"></i>
            </div>
            <span class="text-sm">{{ tech.name }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
