<footer
  class="bg-black text-white py-8 px-8 font-montserrat border-t border-gray-800"
>
  <div class="max-w-4xl mx-auto text-center">
    <p class="mb-2">© {{ currentYear }} Kristian Pejić | Created in Croatia</p>

    <p class="text-gray-400">
      Built with <i class="fas fa-heart text-red-500"></i> using
      <a href="https://angular.io" class="text-teal-400 hover:underline"
        >Angular</a
      >. Look at some of my projects on
      <a
        href="https://github.com/your-username"
        class="text-teal-400 hover:underline"
        >GitHub</a
      >.
    </p>
  </div>
</footer>
