<div class="loader-wrapper" *ngIf="loading">
  <div class="loader-content">
    <div class="typing-loader">
      <span class="typed-code" *ngIf="!showFinalText">{{ displayText }}</span>

      <span
        class="color-cyan-650 font-bold text-2xl final-text"
        *ngIf="showFinalText"
        >{{ finalText }}</span
      >
    </div>
  </div>
</div>

<div [ngClass]="{ 'content-loaded': !loading }" class="site-content">
  <app-navbar></app-navbar>
  <app-hero></app-hero>
  <app-tech-stack></app-tech-stack>
  <app-experience></app-experience>
  <app-project-showcase></app-project-showcase>
  <app-footer></app-footer>
  <router-outlet></router-outlet>
</div>
